@import url(http://fonts.googleapis.com/css?family=New+Rocker|Metal+Mania|Great+Vibes);

#izbor{
    margin-left: 17%;
    margin-right: 17%;
    text-align: center;
    font-size: 15px;
    margin-top: 3em;
    margin-bottom: 3em;
}

#rock{
    font-family: 'New Rocker', cursive;
}

#klasika{
    font-family: 'Great Vibes', cursive;
}

#metal{
    font-family: 'Metal Mania', cursive;
}

.zanr a, .zanr a:active, .zanr a:visited{
    color: white;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

.zanr a:hover{
    text-shadow: 1px 2px 3px red;
}

.content{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;

}
.lista{
    box-shadow: 2px 2px 3px black;
    width: 45%;
    display: inline-block;
    margin: 2em 1% 2em;
    border: 5px ridge #5f0000;
    height: 150%;
    border-radius: 25px;
    background-color: black;
    text-shadow: 1px 2px 2px #800500;
}

.lista:active{
    box-shadow: 2px 2px 3px #5f0000;
    border: 5px ridge #ae0000;
}

#prvi{
    float: left;
}

#drugi{
    float: right;
}

.unutar{
    height: 100%;
}

.lista img{
    width: 95%;
    text-align: center;
    border-radius: 10px;
}

.lista a, .lista a:active, .lista a:visited{
    display: block;
    height: 100%;
    width: 100%;
    font-size: 2vw;
    color: white;
    text-decoration: none;
    padding-top: 0.5em;
}

.sadrzaj{
    margin-left: 17%;
    margin-right: 17%;
    display: inline-block;
}

.imgs{
    float: left;
    border-radius: 10px;
    box-shadow: 0 2px 3px black;
    margin-right: 3em;
    margin-bottom: 2em;
}

.opis{
    text-shadow: 1px 1px 2px black;
    font-family: sans-serif;
    font-size: 0.9em;
    margin-bottom: 2em;
    text-align: justify;
}

.opis ul li{
    list-style-type: none;
}

