.galerija {
    position: relative;
    height: 500px;
    width: 700px;
    overflow: hidden;
    margin: 0 auto;
}

.galerija a {
    float: left;
    margin: 20px;
}

.big {
    position: absolute;
    top: 900px;
    left: 20px;

    -webkit-transition: top 0.8s ease;
    -moz-transition: top 0.8s ease;
    -o-transition: top 0.8s ease;
    -ms-transition: top 0.8s ease;
    transition: top 0.8s ease;
}

.cover {
    top: 110px;
    left: 20px;
    z-index: -3;
}

a:hover .thumb {
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

a:hover .big {
    top: 110px;
}