@media only screen and (max-width: 1318px) {
    .nav{
        margin-bottom: 3.5em;
    }
}

@media only screen and (max-width: 1022px) {
    #meni li:hover > ul {
        margin-left: 100%;
        margin-top: -35px;
        width: 60%;
    }
}

@media only screen and (max-width: 845px) {
    .nav{
        margin-bottom: 6em;
    }
    #meni li:hover > ul {
        z-index: 1;
    }
}

@media only screen and (max-width: 762px) {
    #header a img{
        width: 75%;
    }
}

@media only screen and (max-width: 626px) {
    .nav{
        margin-bottom: 9em;
    }
}