@import url(http://fonts.googleapis.com/css?family=New+Rocker|Metal+Mania|Great+Vibes);

.tabela{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
}

input, select{
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 13px;
    box-shadow: inset 3px 3px 5px #EBEBEB;
    width: 180px;
}

table{
    margin: auto;
    position: relative;
    background-color: #555555;
    opacity: 0.95;
    border: 3px ridge gray;
    border-radius: 20px;
    padding: 20px;
    font-family: 'New Rocker', cursive;
    text-shadow: 1px 2px 2px black;
    text-align:right;
    font-size: 14px;
}

input:focus, select:focus{
    border-radius: 5px;
    border-color: #730400;
    box-shadow: 0px 0px 10px #c40b00;
    outline: 0;
}

input:hover, select:hover, textarea:hover{
    border-color: #0e4641;
    box-shadow: 0px 0px 10px #000000;
    -webkit-animation: move_lr 100ms;
}

@-webkit-keyframes move_lr{
    0% {-webkit-transform: translateY(0px)}
    20% {-webkit-transform: translateY(2px)}
    40% {-webkit-transform: translateY(-2px)}
    80% {-webkit-transform: translateY(3px)}
    100% {-webkit-transform: translateY(0px)}
}

select option{
    background-color: #730400;
    color: white;
}

input:active{
    background-color: #730400;
    color: white;
    border: 2px solid black;
}

.dugme{
    margin-top: 1em;
    padding: 0.4em;
}