body{
    background-image: url("img/texture.jpg");
    color: white;
}

#header{
    width: 100%;
    text-align: center;
}

#footer{
    background-color: black;
    padding: 10px 0 10px 0;
    border-radius: 2em;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

#footer a:link, #footer a:visited, #footer a:active{
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    text-decoration: none;
}

#footer a:hover{
    text-shadow: 1px 1px 2px #930000;
    color: #f9ffa9;
}

.nav {
    width: 100%;
    margin: auto;
    height: 50px;
    position: relative;
    float: left;
    margin-bottom: 2em;
}

.content{
    float: left;
}

#meni {
    padding: 7px 35px 0;
    line-height: 100%;
    border-radius: 2em;
    box-shadow: 0 5px 3px #000000;
    background: #230200;
    border: solid 1px #6d0200;
    float: left;
    margin: 1em 20%;
}

#meni li {
    margin: 0 5px;
    padding: 0 0 8px;
    float: left;
    position: relative;
    list-style: none;
}

/* linkovi glavnog menija */
#meni a {
    font-weight: bold;
    color: #ffe9d8;
    text-decoration: none;
    display: block;
    padding:  8px 20px;
    margin: 0;
    border-radius: 1.6em;
    text-shadow: 1px 2px 2px #000000;
    text-align: center;
}

/* linkovi glavnog menija iznad kojih prelazimo mišem */
#meni li:hover a {
    background: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow: 0 1px 1px black;
    text-shadow: 0 1px 1px #958743;
}

/* podliste iznad kojih prelazimo mišem */
#meni ul li:hover a, #meni li:hover li a {
    background: none;
    border: none;
    color: #444;
    box-shadow: none;
    padding: 0.3em 0.7em;
}

/* linkovi podliste iznad kojih prelazimo mišem */
#meni ul a:hover {
    color: #444!important;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

/* liste drugog nivoa */
#meni ul {
    background: #ffead1;
    display: none;
    margin: 0 15% 0 15%;
    padding: 0;
    position: absolute;
    top: 35px;
    left: 0;
    border: solid 1px #b4998d;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#meni li:hover > ul {
    display: block;
    width: 100%;
    margin-left: 0;
}

#meni ul li {
    float: none;
    margin: 0;
    padding: 0;
}

/* linkovi podliste */
#meni ul a {
    font-weight: normal;
}

#meni .pocetna a{
    color: rgb(238, 100, 81);
    background-color: #2e2b2b;
}

.clr{
    clear: both;
}

.naslov{
    text-align: center;
    text-shadow: 1px 3px 3px #000000;
    font-family: Tahoma, Geneva, sans-serif;
}