.vest{
    border: ridge 1px #ffaf87;
    box-shadow: 0 1px 3px #f7b78d;
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background-image: url("img/textura.png");
    display: inline-block;
    text-align: center;
    margin-bottom: 1em;
}

#vestiblok{
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
}

.slika{
    height: 100%;
    margin: 5%;
}

.naslovvest{
    font-family: monospace;
    text-align: center;
    text-shadow: 1px 2px 2px #83723f;
    color: #dfe4ff;
    text-transform: uppercase;
    font-size: 21px;
    height: 27px;
}
.slikavest{
    width: 40%;
    float: left;
    margin: 2em 2% 1em 2%;
    vertical-align: middle;
    border-radius: 100px;
    box-shadow: 2px 2px 2px #800e08;
}

.slikavest:first-child{
    height: 130px;
    border-radius: 20px;
}

.vesttext{
    margin: 2em 2% 1em 2%;
    height: auto;
    width: 50%;
    font-size: 0.8em;
    font-family: sans-serif;
    text-align: justify;
    text-indent: 2em;
    float: right;
}

#uvel img:active{
    margin-top: 2em;
    margin-left: 1em;
    position: relative;
    width: 75%;
    height: 75%;
    box-shadow: 2px 2px 2px black;
    border: 4px ridge #808080;
    overflow: auto;
}